.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: abel;
}
.male , .female{
    display: flex;
    color: #0E27A2;
}
.name, .phone, .gender, .dob{
    display:flex;
    gap: 5rem;
    color: #0E27A2;

}